body {
background: linear-gradient(to bottom, #52a1e2, #b883e4); margin: 0; height: 100vh; 
font-size: x-large;
text-align: center;
font-family: 'Didot'
}

button:hover{
        background-color: #3838ec;
        color: #ffffff;
}
.brayan{
    font-size: x-large;
    background-color: #ffffff;
    color: #000000;
    padding: 10 px 20px;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Didot';
}
.brayan:hover{
    background-color: #85f3a4;
    color: #000000;
}
.boton{
    background-color: #ffffff;
    color: #000000;
    padding: 10 px 20px;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

    .boton:hover{
        background-color: #3838ec;
        color: #ffffff;
}
.brayan1{
    font-size: x-large;
    background-color: #ffffff;
    color: #000000;
    padding: 10 px 20px;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.brayan1:hover{
    background-color: #f072e5;
    color: #000000;
}
select{
    font-size: x-large;
    font-family: 'Didot';
}
th{
    border : 5px solid  rgb(98, 98, 255);
    background : rgb(175, 241, 200);
    text-shadow: rgb(255, 255, 255);  
    width: 10%;
    font-family: 'Didot';
     }
     .brayan2{
        font-size: x-large;
     }
